<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title> GIÁ ĐÚNG!</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lobster|Work+Sans" rel="stylesheet">
    <script src="./angular.min.js"></script>
    <!-- Modules -->
    <script src="./app.js"></script>
    <!-- Controllers--> 
    <script src="./ContainerController.js"></script>
  </head>

  <body ng-app="myApp">
 
    <div class="container" ng-controller="ContainerController">

      <header >
        <div class="cart" >
          <p class="cartname"> Giỏ hàng: {{ buyerID}} </p>
          <p class="sum"> Tổng tiền: {{sum}}</p>
          <button class="PaymentBox"> Thanh toán</button>
        </div>
        <ul class="goodslist" >
          <li class="goods" ng-repeat="product in selectproducts">
            <p class="goods A"> {{product.name }} </p>
            <p class="price"> Giá: {{product.price}} VNĐ <br> Đơn vị: {{product.unit}} <br> Số lượng: {{product.quantity}}</p>
            <button class="OmitBox" ng-click = " omitSum($index); omit($index)"> Bỏ bớt </button>
          </li>
        </ul>
        <nav>
          <ul class="typelist">
            <li class="type"><a href="#fruit">Trái cây</a></li>
            <li class="type"><a href="#process">Chế biến</a></li>
            <li class="type"><a href="#food">Lương thực</a></li>
            <li class="type"><a href="#milk">Sữa</a></li>
            <li class="type"><a href="#drink">Đồ uống</a></li>
            <li class="type"><a href="#cake">Bánh</a></li>
            <li class="type"><a href="#art">Mỹ nghệ</a></li>
            <li class="type"><a href="#misc">Tạp hóa</a></li>
          </ul>
        </nav>
      </header>

      <main ng-controller="MainController">
        <div class="recipe" ng-repeat="product in products" id="{{product.type}}">
          <img ng-src="{{product.photo}}" />
          <h2> {{product.name }}</h2>
          <p class="price"> Giá: {{product.price}} VNĐ <br> Đơn vị: {{product.unit}} </p>
          <img src="./time.svg" class="time" />
          <p class="mins">Giao hàng: {{product.delivery}}</p>
          <button class="BuyBox" ng-click = "select($index); calSum($index)">MUA</button>
          <p class="description"> {{ product.description}}
            </p>
        </div>
      </main>

      <footer>
        <img src="./Giadung_logo.png" class="logo">
        <div class="online"> Mua trực tuyến chọn hàng rồi bấm "THANH TOÁN"</div>
        <div class="offline"> Mua ngoại tuyến gọi: 0964 005253 hoặc 01672910470</div>
        <div class="greeting"> Trân trọng cảm ơn Quý khách hàng! </div>
        <div class="social">
          <a class="item_fb btn_facebook" rel="nofollow" href="javascript:;" title="Chia sẻ bài viết lên facebook"><i class="ic ic-facebook"></i></a>
          <a class="item_twit btn_twitter get-link-bitly" rel="nofollow" href="javascript:;" data-url="https://suckhoe.vnexpress.net/tin-tuc/suc-khoe/mong-uoc-lam-me-dang-do-cua-san-phu-hiem-muon-bac-ninh-3674232.html" title="Chia sẻ bài viết lên twitter"><i class="ic ic-twitter"></i></a>
          <a class="item_google btn_google" rel="nofollow" href="javascript:;" title="Chia sẻ bài viết lên google+"><i class="ic ic-google-plus"></i></a>
        </div> 
        <div class="copyright"> giadung.biz &copy 2017.  All rights reserved. </div>
      </footer>

    </div>
 
  </body>

</html>